@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin '@tailwindcss/typography';


@theme {
	--color-primary_bg: #f5f5f5;
	--color-primary_bg_dark: #1d1e20;
	--color-secondary_bg:#ffffff;
	--color-secondary_bg_dark:#2e2e33;
	--color-primary: #1e1e1e;
	--color-primary_dark: #dadadb;
	--color-secondary: #6c6c6c;
	--color-secondary_dark: #9b9c9d;

}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 15px;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 4px solid transparent;
  background-color: #ffffff;
  background-clip: content-box;
}
.dark *::-webkit-scrollbar-thumb {
	background-color: #2e2e33;
}
*::-webkit-scrollbar-corner {
	background-color: transparent;
}
