---
import { Linkedin, Github, GraduationCap } from '@lucide/astro';
import { LINKEDIN, GITHUB, GOOGLESCHOLAR } from '../consts';
---

<div class="flex justify-around space-x-4 text-secondary dark:secondary_dark">
    <!-- LinkedIn -->
    <a href={LINKEDIN} aria-label="LinkedIn" class="p-2 hover:text-primary transition-colors rounded-full hover:bg-gray-300 dark:hover:bg-gray-600 hover:scale-[1.10] transition-all">
        <Linkedin class="w-6 h-6" />
    </a>

    <!-- GitHub -->
    <a href={GITHUB} aria-label="GitHub" class="p-2 hover:text-primary transition-colors rounded-full hover:bg-gray-300 dark:hover:bg-gray-600 hover:scale-[1.10] transition-all">
        <Github class="w-6 h-6" />
    </a>

    <!-- Google Scholar -->
    <a href={GOOGLESCHOLAR} aria-label="Google Scholar" class="p-2 hover:text-primary transition-colors rounded-full hover:bg-gray-300 dark:hover:bg-gray-600 hover:scale-[1.10] transition-all">
        <GraduationCap class="w-6 h-6" />
    </a>    
</div>