---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body class="bg-primary_bg dark:bg-primary_bg_dark">
		<Header />
		<main>
            <slot/>
		</main>
	</body>
</html>
